@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #424d79;
  --blue-light: #f0f3ff;
  --light: #ffff;
  --dark: #1e3240;
  --main-bg:#C3CBEA;
  --poppins: "Archivo", sans-serif;
  --archivo: "Poppins", sans-serif;
  --B612: 'B612', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--poppins);
}

.cl-light {
  color: var(--light);
}

.cl-primary {
  color: var(--primary);
}

.btn-custom-primary {
  background-color: var(--primary);
  color: var(--light);
}

/* ============================= Header ==========================*/
.header-section {
  height: 100vh;
  background-color: var(--main-bg);
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50px -140px;
}

/* ============================= Navbar ==========================*/
.navbar-logo {
  width: 48px;
  height: 48px;
}

.navbar-item .btn-custom-primary {
  border-radius: 0px;
  padding: 8px 24px;
}

.navbar-item li {
  padding-right: 24px;
  font-family: var(--archivo);
  font-size: 16px;
}

/* ============================= Hero Section ==========================*/
.hero-section {
  margin-top: 98px;
}

.hero-section .hero-text h1 {
  color: var(--primary);
  line-height: 60px;
  font-weight: 600;
  font-size: 96px;
}

.button-navigation {
  margin-top: 48px;
  font-size: 24px;
}

.button-navigation .btn-custom-primary,
.button-navigation .btn-transparent {
  font-family: var(--archivo);
  padding: 12px 24px;
}

.hero-section .arrow {
  position: relative;
  top: 0;
  left: 120px;
}

/* ============================= About Section ==========================*/
.about-section {
  width: 100%;
  background-color: var(--blue-light);
  padding: 4rem;
}

.about-section .text-area{
  padding-top: 112px;
}

.about-title {
  position: relative;
  font-weight: 600;
  font-size: 56px;
  line-height: 73px;
  color: var(--primary);
  z-index: 2;
}

.about-description {
  font-family: var(--archivo);
  font-size: 24px;
  line-height: 38px;
  margin-top: 36px;
  color: var(--dark);
}

.ceo-desc{
  margin-top: 20px;
  /* margin-left: 94px; */
}

.ceo-name{
  font-weight: 600;
  font-size: 24px;
  color: var(--primary);
  line-height: 28px;
}

.ceo-position{
  margin-top: -12px;
  font-family: var(--archivo);
  font-weight: 400;
  font-size: 18px;
  color: var(--dark);
}

.text-area .coma{
  position: absolute;
  font-size: 288px;
  font-weight: 700;
  color: #dfdfdf94;
  z-index: 1;
  font-family: var(--archivo);
  top: -112px;
  left: -40px;
}

.text-experience{
  color: var(--dark);
  font-family: var(--archivo);
  text-align: center;
  margin-top: 84px;
}

.text-experience h2{
  font-size: 24px;
}

.text-experience p{
  font-size: 48px;
  font-weight: 600;
}

/* ============================= Service Section ==========================*/
.service-section{
  padding-bottom: 79px;
}

.service-header,
.testimony-header{
  padding-top: 52px;
  max-width: 40%;
}

.service-header h1,
.testimony-header h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 73px;
  color: var(--primary);
}

.service-root{
  margin-top: 40px;
}

.service-icon-root{
  display: flex;
  justify-content: center;
}

.service-title{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary);
}

.service-desc{
  font-family: var(--archivo);
  color: var(--dark);
  margin-top: 24px;
}

.btn-service{
  margin-top: 36px;
  background-color: var(--primary);
  color: var(--light);
  padding: 12px 20px;
  font-family: var(--archivo);
  font-size: 16px;
}

.btn-center{
  display: flex;
  justify-content: center;
}

.service-desc{
  text-align: center;
}

/* ============================= Service Section ==========================*/
.project-section{
  background-color: var(--blue-light);
  padding-bottom: 102px;
}

.project-header{
  max-width: 50%;
  font-size: 48px;
  font-weight: 600;
  line-height: 73px;
  color: var(--primary);
  padding-top: 66px;
}

.project-slider{
  margin-top: 35px;
}

.project-img{
  position: relative;
  z-index: 1;
}

.project-text{
  position: relative;
  z-index: 2;
  margin-top: -88px;
  color: #fff;
  margin-left: 26px;
}

.project-text h1{
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.project-text p{
  margin-top: -12px;
}

.project-slider .owl-nav{
  position: relative;
  float: right;
  margin-top: -600px;
  margin-right: 100px;
}

.project-slider .slider-nav-left{
  margin-right: 36px;
}

/* ============================= Testimony Section ==========================*/

.testimony-section .testimony-item{
  width:80% ;
  float: right;
}

.coma-img img{
  max-width: 200px;
}

.testimony-text h1{
  color: var(--primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
}

.testimony-item p{
  font-size: 24px;
  font-family: var(--archivo);
  font-style: italic;
  line-height: 36px;
}

.testimony-text .author{
  font-weight: 700;
  color: var(--primary) !important;
}

.testimony-section .owl-nav{
  float: right;
  position: relative;
  margin-top: -54px;
  margin-right: 88px;
}

.testimony-section .slider-nav-left{
  margin-right: 11px;
}

.coma-img{
  position: relative;
  z-index: 1;
  top: 26px;
  left: -52px;
}

.testimony-text{
  position: relative;
  z-index: 2;
  margin-top: -90px;
  padding: 60px 84px;
}

/* ============================= Contact Section ==========================*/
.contact-section{
  background-color: var(--main-bg);
  padding-bottom: 48px;
}

.contact-root{
  display: flex;
}

.contact-area{
  width: 50%;
  padding-left: 160px;
  padding-right: 112px;
}

.contact-image{
  width: 50%;
}

.contact-header{
  margin-top: 46px;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: var(--primary);
}

.contact-form{
  margin-top: 65px;
}

.contact-form input,
.contact-form textarea{
  width: 100%;
  margin-bottom: 24px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  padding: 12px 12px;
  box-sizing: border-box;
  border: 2px solid var(--dark);
  background-color: transparent;
}

.contact-form ::placeholder{
  font-family: var(--archivo);
  font-weight: 400;
  font-size: 16px;
  color: rgba(30, 50, 64, 0.50);
}

.contact-image .image{
  width: 100%;
  height: 100%;
}

/* ============================= Footer Section ==========================*/
.footer-wraper{
  margin: 21px 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo{
  width: 48px;
  height: 48px;
}

.list{
  position: relative;
  top: 10px;
}

.list ul li {
  font-weight: 400;
  color: var(--dark);
  font-family: var(--archivo);
  display:inline;
  margin-right: 48px;
  font-size: 16px;
}

.list .last{
  margin-right: 0px;
}